@import "bootstrap";

.moveable {
  cursor: move;
}

.sidebar {
  height: 100vh;
  .navbar-collapse {
    align-items: unset;
    flex-direction: column;
    flex-basis: unset;
  }
}

.nav {
  .nav-link {
    &.active {
      background-color: $gray-200;
      color: $purple-500 !important;
    }

    &:hover {
      background-color: $gray-300;
    }
  }
}

// some css magic to allow overflowing box shadows (espacially for form fields)
.fix-shadow-overlay {
  padding: 15px;
  margin: -15px;
}

@media (max-width: map-get($grid-breakpoints, "md")) {
  .sidebar {
    height: unset;
    .nav {
      max-height: 50vw;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, "md")) {
  .vh-md-100 {
    height: 100vh;
  }
}
